<div class="p-details-wrapper">

  <!--Spinner-->
  <ng-container *ngIf="loading">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner [diameter]="40"></mat-spinner>
      <span>Loading...</span>
    </div>
  </ng-container>

  <!--Content-->
  <ng-container *ngIf="!loading">
    <div aria-label="Header" class="p-header" fxLayoutAlign="space-between none">
      <div aria-label="Address" class="p-header-address" fxLayout="row">
        <mat-icon svgIcon="apartment"></mat-icon>
        <div fxLayout="column">
          <div>{{property?.address.streetAddress}}</div>
          <div>{{property?.address.city}}, {{property?.address.sector}}</div>
        </div>
      </div>
      <div aria-label="Header Buttons" fxLayout="row">
        <button mat-icon-button [color]="favorite ? 'warn' : 'primary'" (click)="onFavoriteClick()">
          <mat-icon>{{favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
        </button>
        <button mat-icon-button [color]="hideFromMe ? 'warn' : 'primary'" (click)="onHideFromMeButtonClick()">
          <mat-icon>block</mat-icon>
        </button>

        <button mat-icon-button [color]="'primary'" [cdkCopyToClipboard]="currentUrl" (click)="onShareButtonClick()">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div aria-label="Header Icons" class="p-sub-header" fxLayout="row wrap-around" fxLayoutAlign="space-around center">
      <div fxLayoutAlign="center center" aria-label="Offer Type">
        <mat-icon svgIcon="apartment-key"></mat-icon>
        <span class="ml-8">{{property?.offer.type | titlecase}}</span>
      </div>

      <div fxLayoutAlign="center center" aria-label="Price">
        <mat-icon svgIcon="apartment-price"></mat-icon>
        <span class="ml-8">{{property?.offer.price| currency:property?.offer.currency:'symbol':'3.0' }}</span>
      </div>

      <div fxLayoutAlign="center center" aria-label="Total Size">
        <mat-icon svgIcon="apartment-area"></mat-icon>
        <span class="ml-8">{{property.totalSize}} {{property.sizeUnitOfMeasurement | lowercase}}</span>
      </div>

      <div fxLayoutAlign="center center" aria-label="Total Bathrooms">
        <mat-icon svgIcon="apartment-badrooms"></mat-icon>
        <span class="ml-8">{{property.totalBathRooms}}</span>
      </div>

      <div fxLayoutAlign="center center" aria-label="Total bedrooms">
        <mat-icon svgIcon="apartment-bathrooms"></mat-icon>
        <span class="ml-8">{{property.totalBathRooms}}</span>
      </div>

      <div fxLayoutAlign="center center" aria-label="Parking">
        <mat-icon svgIcon="apartment-garage"></mat-icon>
        <span class="ml-8">{{property.parkingAvailable | yesNo}} - {{property.parking}}</span>
      </div>


    </div>

    <gallery [items]="images"></gallery>

    <div aria-label="Details" class="p-content">
      <div aria-label="Overview" class="mb-20">
        <div class="f-weight-400 f-size-20 mb-5">Overview</div>
        <div aria-label="Stats" class="overview-stats" fxLayout="row wrap" fxLayoutAlign="space-around">
          <div fxLayoutAlign="start center">
            <mat-icon class="mr-4">query_builder</mat-icon>
            <div>Listed {{property?.offer?.createdOn | timeago}}</div>
          </div>
          <div>|</div>
          <div fxLayoutAlign="start center">
            <mat-icon class="mr-4">visibility</mat-icon>
            <div>Views 10</div>
          </div>
          <div>|</div>
          <div fxLayoutAlign="start center">
            <mat-icon class="mr-4">contact_mail</mat-icon>
            <div>Applications 0</div>
          </div>
        </div>
        <div aria-label="Description" fxLayout="row" class="mb-10">{{property?.offer?.description}}</div>
        <mat-divider></mat-divider>
      </div>

      <div aria-label="Home Facts" class="mb-20">
        <div class="f-weight-400 f-size-20 mt-10 mb-10">Home Facts</div>
        <div class="facts" fxLayout="row wrap" fxLayoutGap="50px">
          <div aria-label="column-1" fxFlex>
            <div aria-label="Offer Type" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">local_offer</mat-icon>
              <div>Offer</div>
              <div class="dot-div"></div>
              <div>{{property?.offer?.type}}</div>
            </div>
            <div aria-label="Build Type" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">apartment</mat-icon>
              <div>Type</div>
              <div class="dot-div"></div>
              <div>{{property?.buildingType}} - {{property?.condition}}</div>
            </div>
            <div aria-label="Build condition" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">list_alt</mat-icon>
              <div>Build</div>
              <div class="dot-div"></div>
              <div>{{property.buildCondition}}</div>
            </div>
            <div aria-label="Price" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">payments</mat-icon>
              <div>Price</div>
              <div class="dot-div"></div>
              <div>{{property?.offer.price| currency:property?.offer.currency:'symbol':'3.0' }}</div>
            </div>
            <div aria-label="Date Available" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">insert_invitation</mat-icon>
              <div>Date available</div>
              <div class="dot-div"></div>
              <div>{{property?.offer?.dateAvailable| date }}</div>
            </div>
          </div>

          <div aria-label="column-2" fxFlex>
            <div aria-label="rooms" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">night_shelter</mat-icon>
              <div>Rooms</div>
              <div class="dot-div"></div>
              <div>{{property.totalRooms}}</div>
            </div>
            <div aria-label="bathrooms" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">bathtub</mat-icon>
              <div>Bathrooms</div>
              <div class="dot-div"></div>
              <div>{{property.totalBathRooms}}</div>
            </div>
            <div aria-label="balconies" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">panorama</mat-icon>
              <div>Balconies</div>
              <div class="dot-div"></div>
              <div>{{property.totalBalconies}}</div>
            </div>
            <div aria-label="area-size" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">aspect_ratio</mat-icon>
              <div>Total Size</div>
              <div class="dot-div"></div>
              <div>{{property.totalSize}} {{property.sizeUnitOfMeasurement | lowercase}}</div>
            </div>
            <div aria-label="parking" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">local_parking</mat-icon>
              <div>Parking</div>
              <div class="dot-div"></div>
              <div>{{property.parkingAvailable | yesNo}} - {{property.parking}}</div>
            </div>
            <div aria-label="floor" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">elevator</mat-icon>
              <div>Floor</div>
              <div class="dot-div"></div>
              <div>{{property.floorNumber}} from {{property.totalFloors}}</div>
            </div>

          </div>
        </div>
<!--        <mat-divider></mat-divider>-->
      </div>

      <div aria-label="Amenities" class="mb-20">
        <div class="f-weight-400 f-size-20 mt-10 mb-10">Amenities</div>
        <mat-chip-list aria-label="Amenities">
          <mat-chip color="primary" selected *ngFor="let amenity of property.amenities">{{amenity}}</mat-chip>
        </mat-chip-list>
      </div>

      <div aria-label="Contact" class="mb-20">
        <div class="f-weight-400 f-size-20 mt-10 mb-10">Contact</div>
        <div class="facts" fxLayout="row wrap">
          <div aria-label="column-1" fxFlex>
            <div aria-label="Contact Name" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">person</mat-icon>
              <div>Name</div>
              <div class="dot-div"></div>
              <div>{{property?.offer?.contactName}} ({{property.offer.contactType}})</div>
            </div>
            <div aria-label="Contact Email" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">alternate_email</mat-icon>
              <div>Email</div>
              <div class="dot-div"></div>
              <div>{{property.offer.email}}</div>
            </div>
            <div aria-label="Contact Phone" fxLayout="row" fxLayoutAlign="start center" class="mb-5">
              <mat-icon color="primary" class="mr-5">call</mat-icon>
              <div>Phone</div>
              <div class="dot-div"></div>
              <div>{{property.offer.phoneNumber}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ng-container>
</div>
