<mat-card class="wrapper">
  <ng-container *ngIf="!property">
    <div fxLayout="row" fxLayoutAlign="center center" fxFill>
      <mat-spinner [diameter]="25"></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="property">
    <!--Image section-->
    <img mat-card-image [src]="thumbnail" (click)="navigate()">
    <div class="favorite">
      <button mat-icon-button [color]="favorite ? 'warn' : 'primary'">
        <mat-icon>{{favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
    </div>

    <!--Info section-->
    <div class="bottom-info" (click)="navigate()">
      <div class="stats" fxLayout="row" fxLayoutAlign="space-between center">
        <div id="price"> {{600000 | currency:'USD':'symbol':'3.0' }}</div>
        <div>{{property.totalRooms}} Beds</div>
        <div>|</div>
        <div>{{property.totalBathRooms}} Baths</div>
        <div>|</div>
        <div id="totalSize">{{property.totalSize}} {{property.sizeUnitOfMeasurement}}</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start">
        <div class="address">19224 5th Dr SE, Bothell, WA 98012</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>Apartment for rent</div>
        <div class="date-time">{{property.createdOn | timeago}}</div>
      </div>
    </div>
  </ng-container>
</mat-card>
