.wrapper {
  width: 280px;
  height: 240px;
  margin: 0;
  padding: 0;
  background: #FFF;
  border-bottom: 4px solid #006AFF;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  cursor: pointer;

  .favorite {
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .bottom-info {
    flex-flow: column;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 4px;

    .stats {
      color: #919191;
      font-weight: 500;
    }

    .address {
      margin-top: 4px;
      margin-bottom: 2px;
      color: #919191;
      font-size: 14px;
      text-transform: capitalize;;
    }

    .date-time {
      color: #919191;
      font-size: 12px;
    }

    #price {
      font-size: 1.125rem;
      color: #333;
      font-weight: 400;
    }

    #totalSize {
      text-transform: lowercase;
    }


  }

}

mat-card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
}

