.f-size-10 {
  font-size: 10px;
}

.f-size-15 {
  font-size: 15px;
}

.f-size-20 {
  font-size: 20px;
}

.f-size-25 {
  font-size: 25px;
}

.f-size-30 {
  font-size: 30px;
}

.f-size-35 {
  font-size: 35px;
}

.f-size-40 {
  font-size: 40px;
}

.f-size-45 {
  font-size: 45px;
}

.f-size-50 {
  font-size: 50px;
}

.f-size-60 {
  font-size: 60px;
}

.f-size-70 {
  font-size: 70px;
}

.f-size-80 {
  font-size: 80px;
}

.f-size-90 {
  font-size: 90px;
}
