<div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="properties.length>0">
  <app-property-card class="m-4" [property]="properties[0]"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
  <app-property-card class="m-4"></app-property-card>
</div>



