<div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="properties.length>0">
  <app-property-card *ngFor="let dbProperty of properties"
                     [navigateToLink]="'properties/' + dbProperty.id"
                     [property]="dbProperty"
                     [favorite]="false"
                     class="m-4">
  </app-property-card>

  <ng-container *ngIf="loading">
    <div fxLayout="column" fxLayoutAlign="center center" fxFill class="mt-20">
      <mat-spinner [diameter]="25"></mat-spinner>
      <div>Loading...</div>
    </div>
  </ng-container>
</div>



